html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
}

body {
    /* display: flex; */
    /* flex-direction: column; */
    /* font-size: 16px; */
    /* background-color: #b6a39e; */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: rgb(165, 158, 158);
    background-image: url("img/background.png");
}

.something {
    
}
.testp {
    
    display: flex;
}
.img-1 {
    display: flex;
    width: 100px;
    height: 100px;
}
.img-2 {
    display: flex;
    width: 200px;
    height: 200px;
}
.img-3 {
    display: flex;
    width: 200px;
    height: 200px;
}

#container {
    width: 680px;
    /* background-color: #000000; */
    height: auto;
    display: block; }

    #container .left {
        width: 300px;
        /* background-color: #FFFFFF; */
        float: left;
        margin: 10px;
        padding: 10px; }

        #container .right {
            width: 300px;
            /* background-color: #FFFFFF; */
            float: left;
            display: flex;
            margin: 10px;
            padding: 10px; }
            #container:after {
                content: "."; 
                display: block;
                height: 0; 
                clear: both;
                visibility: hidden; }

                
                #container-2 {
                    width: 680px;
                    /* background-color: #000000; */
                    height: auto;
                    display: block; }
                
                    #container-2 .left {
                        width: 300px;
                        /* background-color: #FFFFFF; */
                        float: left;
                        margin: 10px;
                        padding: 10px; }
                
                        #container-2 .right {
                            width: 300px;
                            /* background-color: #FFFFFF; */
                            float: left;
                            display: flex;
                            margin: 10px;
                            padding: 10px; }
                            #container-2:after {
                                content: "."; 
                                display: block;
                                height: 0; 
                                clear: both;
                                visibility: hidden; }
                      

                                #container-3 {
                                    width: 680px;
                                    /* background-color: #000000; */
                                    height: auto;
                                    display: block; }
                                
                                    #container-3 .left {
                                        width: 300px;
                                        /* background-color: #FFFFFF; */
                                        float: left;
                                        margin: 10px;
                                        padding: 10px; }
                                
                                        #container-3 .right {
                                            width: 300px;
                                            /* background-color: #FFFFFF; */
                                            float: left;
                                            display: flex;
                                            margin: 10px;
                                            padding: 10px; }
                                            #container-3:after {
                                                content: "."; 
                                                display: block;
                                                height: 0; 
                                                clear: both;
                                                visibility: hidden; }

footer {
    /* display: flex; */
    align-items: right;
    margin: 50%;
    align-content: right;
}                                       
/* .footertext {
    display: flex;
    align-items: right;
    align-content: right;
} */
main {
    flex: 1;
    /* align-items: center;
    justify-content: center;
    flex-direction: column; */
}

header {
    /* background-color: blue; */
    color: blue;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.nav {
    /* color: red; */
    align-items: right;
    padding: 12.5px;
    align-content: right;
}

.page-1 {
    color: black; */

}

.page-2 {
    color: black;
}

.page-3 {
    color: black;
}
p {
    color: white;
}

header > ul {
    display: flex;
    justify-content: space-evenly;
}

header > ul > li {
    list-style-type: none;
    padding: 0.4em;
    font-size: 1.6em;
}

header > ul > li > a {
    text-decoration: none;
    color: green;
}

ul {
    margin: 0;
}

section {
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

/* 
.settings {
    width: 50px;
    height: 50px;
} */
a {
    color: #303c44;
}

a:hover {
    color: #4b5358;

}

.bild {
    width: 150px;
    height: 150px;
}

.bild2 {
    width: 150px;
    height: 150px;
}
.bild3 {
    width: 150px;
    height: 150px;
}
@media screen and (max-width: 600px) {
    header>ul {
        /* flex-direction: column; */
        /* align-items: center; */
    }
}